<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image | Cosmic UI </title>
    <script src="https://kit.fontawesome.com/e70e2d0aa4.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.png" />

    <link rel="stylesheet" href="/docs/doc.css">
    <link rel="stylesheet" href="/components/component.css">
</head>

<body>
    <div class="doc-container">

        <div class="sidebar-wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="/index.html">
                            <h3>Cosmic UI</h3>
                        </a>
                    </div>
                </div>
                <a href="/docs/doc.html" class="install-text">Getting Started</a>
                <div class="sidebar-main">
                    <a href="/components/avatar/avatar.html">Avatar</a>
                    <a href="/components/alert/alert.html">Alert</a>
                    <a href="/components/badge/badge.html">Badge</a>
                    <a href="/components/button/button.html">Button</a>
                    <a href="/components/cards/cards.html">Card</a>
                    <a href="/components/image/image.html">Image</a>
                    <a href="/components/input/input.html">Input</a>
                    <a href="/components/text-utilities/text.html">Text-Utilities</a>
                    <a href="/components/lists/lists.html">Lists</a>
                    <a href="/components/rating/rating.html">Rating</a>
                    <a href="/components/snackbar/snackbar.html">Snackbar</a>
                    <a href="/components/navigation/navigation.html">Navigation</a>



                </div>
                <div class="sidebar-footer">
                    <div class="footer-text">
                        <p>Social Media</p>
                    </div>
                    <div class="social-icons">
                        <a href="https://github.com/someshtiwarii/Cosmic-UI"><i
                                class="fab fa-github social-icon"></i></a>
                        <a href="https://www.linkedin.com/in/someshtiwarii/"><i
                                class="fab fa-linkedin social-icon"></i></a>
                        <a href="https://twitter.com/someshtiwarii"><i class="fab fa-twitter social-icon"></i></a>
                    </div>



                </div>

            </div>
        </div>

        <div class="section">

            <div class="section-header">
                <div>
                    <h1 class="section-main-text" id="top">Image</h1>
                    <p>
                        Images can be responsive to fit the parent's width, and also can be customised to be round
                        shaped.
                    </p>
                </div>
            </div>

            <div class="section-main">

                <div class="section-info">
                    <h3>Responsive Image</h3>

                    <div class="image-container">
                        <img src="/assets/image-resp.jpeg" class="resp-img" />
                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522%252Fassets%252Fimage-resp.jpeg%2522%2520class%253D%2522resp-img%2522%252F%253E"
                            style="width: 597px; height: 205px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>

                <div class="section-info">
                    <h3>Round Image</h3>

                    <div class="image-container">
                        <img src="/assets/image-resp.jpeg" class="round-img" />
                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522%252Fassets%252Fimage-resp.jpeg%2522%2520class%253D%2522round-img%2522%252F%253E"
                            style="width: 605px; height: 205px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <button class="float-btn"><a href="#top"><i class="fas fa-arrow-up fa-2x"></i></a></button>
            </div>


        </div>


</body>

</html>