.grid-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.grid-2-col{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}
.grid-3-col{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}

.grid-item{
    padding: 1rem;
    background-color: white;
}

@media screen and (max-width:500px) {

    .grid-2-col, .grid-3-col{
        grid-template-columns:1fr;

    }
    
}