<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button | Cosmic UI </title>
    <script src="https://kit.fontawesome.com/e70e2d0aa4.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/docs/doc.css">
    <link rel="stylesheet" href="/components/component.css">
</head>

<body>
    <div class="doc-container">

        <div class="sidebar-wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="/index.html">
                            <h3>Cosmic UI</h3>
                        </a>
                    </div>
                </div>
                <a href="/docs/doc.html" class="install-text">Getting Started</a>
                <div class="sidebar-main">
                    <a href="/components/avatar/avatar.html">Avatar</a>
                    <a href="/components/alert/alert.html">Alert</a>
                    <a href="/components/badge/badge.html">Badge</a>
                    <a href="/components/button/button.html">Button</a>
                    <a href="/components/cards/cards.html">Card</a>
                    <a href="/components/image/image.html">Image</a>
                    <a href="/components/input/input.html">Input</a>
                    <a href="/components/text-utilities/text.html">Text-Utilities</a>
                    <a href="/components/lists/lists.html">Lists</a>
                    <a href="/components/rating/rating.html">Rating</a>
                    <a href="/components/snackbar/snackbar.html">Snackbar</a>


                </div>
                <div class="sidebar-footer">
                    <div class="footer-text">
                        <p>Social Media</p>
                    </div>
                    <div class="social-icons">
                        <a href="https://github.com/someshtiwarii/Cosmic-UI"><i
                                class="fab fa-github social-icon"></i></a>
                        <a href="https://www.linkedin.com/in/someshtiwarii/"><i
                                class="fab fa-linkedin social-icon"></i></a>
                        <a href="https://twitter.com/someshtiwarii"><i class="fab fa-twitter social-icon"></i></a>
                    </div>

                </div>

            </div>
        </div>

        <div class="section">

            <div class="section-header">
                <div>
                    <h1 class="section-main-text" id="top">Button</h1>
                    <p>
                        Buttons are also called as call to action. We have range of buttons and their states.
                    </p>
                </div>

            </div>

            <div class="section-main">

                <div class="section-info">
                    <h3>Primary Button</h3>


                    <div class="btn-container">

                        <button class="btn btn-primary">
                            First
                        </button>

                        <button class="btn btn-secondary">
                            Second
                        </button>

                        <button class="btn btn-tertiary">
                            Third
                        </button>

                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253E%250A%2520%2520%2520%2520First%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253E%250A%2520%2520%2520%2520Second%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-tertiary%2522%253E%250A%2520%2520%2520%2520Third%250A%253C%252Fbutton%253E"
                            style="width: 420px; height: 374px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>


                <div class="section-info">
                    <h3>Link Button</h3>


                    <div class="btn-container">

                        <button class="btn btn-link">
                            First
                        </button>

                        <button class="btn btn-link">
                            Second
                        </button>

                        <button class="btn btn-link">
                            Third
                        </button>

                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-link%2522%253E%250A%2520%2520%2520%2520First%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-link%2522%253E%250A%2520%2520%2520%2520Second%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-link%2522%253E%250A%2520%2520%2520%2520Third%250A%253C%252Fbutton%253E"
                            style="width: 377px; height: 374px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>


                <div class="section-info">
                    <h3>Icon Button</h3>


                    <div class="btn-container">

                        <button class="btn btn-icon">
                            <i class="fas fa-envelope "></i>
                            Message
                        </button>

                        <button class="btn btn-icon">
                            <i class="fas fa-shopping-cart "></i>
                            Cart
                        </button>

                        <button class="btn btn-icon">
                            <i class="fas fa-power-off"></i>
                            Sign Out
                        </button>

                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-envelope%2520%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520Message%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2520%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520Cart%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-icon%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-power-off%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520Sign%2520Out%250A%253C%252Fbutton%253E"
                            style="width: 479px; height: 430px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>



                <div class="section-info">
                    <h3>FAB Button</h3>


                    <div class="btn-container">

                        <button class="btn btn-fab-primary">
                            <i class="fas fa-plus fab-1"></i>
                        </button>

                        <button class="btn btn-fab-secondary">
                            <i class="fas fa-pencil-alt fab-2"></i>
                        </button>

                        <button class="btn btn-fab-tertiary">
                            <i class="fas fa-location-arrow fab-3"></i>
                            Navigate
                        </button>

                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-fab-primary%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-plus%2520fab-1%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-fab-secondary%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-pencil-alt%2520fab-2%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-fab-tertiary%2522%253E%250A%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-location-arrow%2520fab-3%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520Navigate%250A%253C%252Fbutton%253E"
                            style="width: 529px; height: 392px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>


                <div class="section-info">
                    <h3>Outline Button</h3>


                    <div class="btn-container">

                        <button class="btn btn-primary-outline">
                            First
                        </button>

                        <button class="btn btn-secondary-outline">
                            Second
                        </button>

                        <button class="btn btn-tertiary-outline">
                            Third
                        </button>

                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary-outline%2522%253E%250A%2520%2520%2520%2520First%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary-outline%2522%253E%250A%2520%2520%2520%2520Second%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-tertiary-outline%2522%253E%250A%2520%2520%2520%2520Third%250A%253C%252Fbutton%253E"
                            style="width: 487px; height: 374px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>


                <button class="float-btn"><a href="#top"><i class="fas fa-arrow-up fa-2x"></i></a></button>
            </div>


        </div>


</body>

</html>