.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--grey);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.styled-list {
    background-color: var(--medium-grey);
    padding: 2rem;
}

.list-circle>li {
    list-style: circle;
}

.list-square>li {
    list-style: square;
}

.stacked-list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--medium-grey);
    border-radius: 2px;
    list-style: none;
}

.notify-tab-icon {
    color: var(--dark-blue-2);
    padding-right: 0.5rem;
}

.notify-icon {
    color: var(--dark-blue-2);
    padding-right: 0.5rem;
    font-size: 0.5rem;
}

.notify-tab {
    padding: 0.75rem;
    background-color: var(--medium-grey);
    font-weight: 600;
}

.notify-item {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}