.rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    padding:1rem;
    border-radius: 0.5rem;   
    margin-top:1rem;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;  
}

.checked{
    color:var(--dark-orange);
}