<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities | Cosmic UI </title>
    <script src="https://kit.fontawesome.com/e70e2d0aa4.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.png" />

    <link rel="stylesheet" href="/docs/doc.css">
    <link rel="stylesheet" href="/components/component.css">
</head>

<body>
    <div class="doc-container">

        <div class="sidebar-wrapper">
            <div class="sidebar">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="/index.html">
                            <h3>Cosmic UI</h3>
                        </a>
                    </div>
                </div>
                <a href="/docs/doc.html" class="install-text">Getting Started</a>
                <div class="sidebar-main">
                    <a href="/components/avatar/avatar.html">Avatar</a>
                    <a href="/components/alert/alert.html">Alert</a>
                    <a href="/components/badge/badge.html">Badge</a>
                    <a href="/components/button/button.html">Button</a>
                    <a href="/components/cards/cards.html">Card</a>
                    <a href="/components/image/image.html">Image</a>
                    <a href="/components/input/input.html">Input</a>
                    <a href="/components/text-utilities/text.html">Text-Utilities</a>
                    <a href="/components/lists/lists.html">Lists</a>
                    <a href="/components/rating/rating.html">Rating</a>
                    <a href="/components/snackbar/snackbar.html">Snackbar</a>
                    <a href="/components/navigation/navigation.html">Navigation</a>



                </div>
                <div class="sidebar-footer">
                    <div class="footer-text">
                        <p>Social Media</p>
                    </div>
                    <div class="social-icons">
                        <a href="https://github.com/someshtiwarii/Cosmic-UI"><i
                                class="fab fa-github social-icon"></i></a>
                        <a href="https://www.linkedin.com/in/someshtiwarii/"><i
                                class="fab fa-linkedin social-icon"></i></a>
                        <a href="https://twitter.com/someshtiwarii"><i class="fab fa-twitter social-icon"></i></a>
                    </div>

                </div>

            </div>
        </div>

        <div class="section">

            <div class="section-header">
                <div>
                    <h1 class="section-main-text" id="top">Text Utilities</h1>
                    <p>
                        These utilities can be used anwhere in a web page.
                    </p>
                </div>

            </div>

            <div class="section-main">

                <div class="section-info">
                    <h3>Primary Button</h3>
                    <p>Change the status of the alerts by inserting the given class to get the desired
                        alert.</p>

                    <div class="text-container">
                        <div class="text heading">
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3>Heading 3</h3>
                            <h4>Heading 4</h4>
                            <h5>Heading 5</h5>
                            <h6>Heading 6</h6>
                        </div>
                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text%2520heading%2522%253E%250A%2520%2520%2520%2520%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%2520%2520%2520%2520%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%2520%2520%2520%2520%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%2520%2520%2520%2520%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%2520%2520%2520%2520%253Ch5%253EHeading%25205%253C%252Fh5%253E%250A%2520%2520%2520%2520%253Ch6%253EHeading%25206%253C%252Fh6%253E%250A%253C%252Fdiv%253E"
                            style="width: 369px; height: 335px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>


                <div class="section-info">
                    <h3>Primary Button</h3>
                    <p>Change the status of the alerts by inserting the given class to get the desired
                        alert.</p>

                    <div class="text-container">
                        <div class="text">
                            <p>This is an example of normal text.</p>
                            <small>This is an example of small text.</small>
                        </div>
                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text%2522%253E%250A%2520%2520%2520%2520%253Cp%253EThis%2520is%2520an%2520example%2520of%2520normal%2520text.%253C%252Fp%253E%250A%2520%2520%2520%2520%253Csmall%253EThis%2520is%2520an%2520example%2520of%2520small%2520text.%253C%252Fsmall%253E%250A%253C%252Fdiv%253E"
                            style="width: 589px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>


                <div class="section-info">
                    <h3>Primary Button</h3>
                    <p>Change the status of the alerts by inserting the given class to get the desired
                        alert.</p>

                    <div class="text-container">
                        <div class="text grey">
                            <P>Cosmos Exploration Technologies Corp. is an Indian aerospace manufacturer, a provider of
                                space transportation services, and a communications corporation headquartered in
                                Prayagraj,India.</P>
                            <p>This is an example of gray text</p>
                        </div>
                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text%2520grey%2522%253E%250A%2520%2520%2520%2520%253CP%253ECosmos%2520Exploration%2520Technologies%2520Corp.%2520is%2520an%2520Indian%2520aerospace%2520manufacturer%252C%2520a%2520provider%2520of%250A%2520%2520%2520%2520%2520%2520%2520%2520space%2520transportation%2520services%252C%2520and%2520a%2520communications%2520corporation%2520headquartered%2520in%250A%2520%2520%2520%2520%2520%2520%2520%2520Prayagraj%252CIndia.%253C%252FP%253E%250A%2520%2520%2520%2520%253Cp%253EThis%2520is%2520an%2520example%2520of%2520gray%2520text%253C%252Fp%253E%250A%253C%252Fdiv%253E"
                            style="width: 951px; height: 298px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <hr>

                <div class="section-info">
                    <h3>Primary Button</h3>
                    <p>Change the status of the alerts by inserting the given class to get the desired
                        alert.</p>

                    <div class="text-container">
                        <div class="text text-center">
                            <p>Example of centered text.</p>
                        </div>
                    </div>

                    <div class="code-img">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28243%2C244%2C246%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522text%2520text-center%2522%253E%250A%2520%2520%2520%2520%253Cp%253EExample%2520of%2520centered%2520text.%253C%252Fp%253E%250A%253C%252Fdiv%253E"
                            style="width: 437px; height: 225px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>


                <button class="float-btn"><a href="#top"><i class="fas fa-arrow-up fa-2x"></i></a></button>
            </div>


        </div>


</body>

</html>